@keyframes bounce {
	0% {
		transform: scaleY(1) translateY(0);
		animation-timing-function: ease-out;
	}

	10% {
		transform: scaleY(0.7) translateY(0);
		animation-timing-function: ease-in;
	}

	15% {
		transform: scaleY(1) translateY(0);
		animation-timing-function: ease-out;
	}

	40% {
		transform: scaleY(1) translateY(-350px);
		animation-timing-function: ease-in;
	}

	65% {
		transform: scaleY(1) translateY(0);
		animation-timing-function: ease-out;
	}

	67.5% {
		transform: scaleY(0.95) translateY(0);
		animation-timing-function: ease-in;
	}

	70% {
		transform: scaleY(1) translateY(0);
	}
}

.snowman {
	transform-origin: center bottom;
	animation: bounce;
	animation-iteration-count: infinite;
	animation-duration: 2.5s;
	animation-timing-function: linear;
	float: right;
	z-index: 999999;
	position: fixed;
	bottom: 0;
	margin-bottom: -50px;
	overflow: hidden;
}

.snowman:before {
	content: "\2603";
	font-size: 450px;
	font-family: 'Arial Unicode MS', 'Apple Symbols', 'Kozuka Gothic Pro';
}
