@keyframes bounce {
0% { transform: scaleY(1) translate(0px, 0px); animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); }
1.67% { transform: scaleY(0.7) translate(0px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
2.5% { transform: scaleY(1) translate(0px, 0px); animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); }
6.67% { transform: scaleY(1) translate(167px, -400px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
10.8% { transform: scaleY(1) translate(333px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
11.3% { transform: scaleY(0.95) translate(333px, 0px); animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); }
11.7% { transform: scaleY(1) translate(333px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
16.7% { transform: scaleY(1) translate(333px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
16.7% { transform: scaleY(1) translate(333px, 0px); animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); }
18.3% { transform: scaleY(0.7) translate(333px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
19.2% { transform: scaleY(1) translate(333px, 0px); animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); }
23.3% { transform: scaleY(1) translate(500px, -400px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
27.5% { transform: scaleY(1) translate(667px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
27.9% { transform: scaleY(0.95) translate(667px, 0px); animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); }
28.3% { transform: scaleY(1) translate(667px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
33.3% { transform: scaleY(1) translate(667px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
33.3% { transform: scaleY(1) translate(667px, 0px); animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); }
35% { transform: scaleY(0.7) translate(667px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
35.8% { transform: scaleY(1) translate(667px, 0px); animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); }
40% { transform: scaleY(1) translate(833px, -400px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
44.2% { transform: scaleY(1) translate(1e+03px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
44.6% { transform: scaleY(0.95) translate(1e+03px, 0px); animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); }
45% { transform: scaleY(1) translate(1e+03px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
50% { transform: scaleY(1) translate(1e+03px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
50% { transform: scaleY(1) translate(1e+03px, 0px); animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); }
51.7% { transform: scaleY(0.7) translate(1e+03px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
52.5% { transform: scaleY(1) translate(1e+03px, 0px); animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); }
56.7% { transform: scaleY(1) translate(833px, -400px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
60.8% { transform: scaleY(1) translate(667px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
61.2% { transform: scaleY(0.95) translate(667px, 0px); animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); }
61.7% { transform: scaleY(1) translate(667px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
66.7% { transform: scaleY(1) translate(667px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
66.7% { transform: scaleY(1) translate(667px, 0px); animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); }
68.3% { transform: scaleY(0.7) translate(667px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
69.2% { transform: scaleY(1) translate(667px, 0px); animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); }
73.3% { transform: scaleY(1) translate(500px, -400px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
77.5% { transform: scaleY(1) translate(333px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
77.9% { transform: scaleY(0.95) translate(333px, 0px); animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); }
78.3% { transform: scaleY(1) translate(333px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
83.3% { transform: scaleY(1) translate(333px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
83.3% { transform: scaleY(1) translate(333px, 0px); animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); }
85% { transform: scaleY(0.7) translate(333px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
85.8% { transform: scaleY(1) translate(333px, 0px); animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); }
90% { transform: scaleY(1) translate(167px, -400px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
94.2% { transform: scaleY(1) translate(0px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
94.6% { transform: scaleY(0.95) translate(0px, 0px); animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); }
95% { transform: scaleY(1) translate(0px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
100% { transform: scaleY(1) translate(0px, 0px); animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); }
}
.snowman {
	transform-origin: center bottom;
	animation: bounce;
	animation-iteration-count: infinite;
	animation-duration: 8s;
	animation-timing-function: linear;
	z-index: 999999;
	position: fixed;
	left: 0;
	bottom: 0;
	margin-bottom: -50px;
	overflow: visible;
}

.snowman:before {
	content: "\2603";
	font-size: 350px;
	font-family: 'Arial Unicode MS', 'Apple Symbols', 'Kozuka Gothic Pro';
}
